WCFClienteLibreriaDosCapas/Connected Services/ServiceLibreria/ServiceLibreria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServiceLibreria" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50467/ServiceLibreria.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50467/ServiceLibreria.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50467/ServiceLibreria.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntityLibreria" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceLibreria_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_ObtenerC_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerC" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_ObtenerC_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_IdObtener_InputMessage">
    <wsdl:part name="parameters" element="tns:IdObtener" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_IdObtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:IdObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_Agregar_InputMessage">
    <wsdl:part name="parameters" element="tns:Agregar" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_Agregar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:Buscar" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_ValidarRepetido_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarRepetido" />
  </wsdl:message>
  <wsdl:message name="IServiceLibreria_ValidarRepetido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarRepetidoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceLibreria">
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibreria/Obtener" message="tns:IServiceLibreria_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibreria/ObtenerResponse" message="tns:IServiceLibreria_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerC">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibreria/ObtenerC" message="tns:IServiceLibreria_ObtenerC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibreria/ObtenerCResponse" message="tns:IServiceLibreria_ObtenerC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IdObtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibreria/IdObtener" message="tns:IServiceLibreria_IdObtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibreria/IdObtenerResponse" message="tns:IServiceLibreria_IdObtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibreria/Actualizar" message="tns:IServiceLibreria_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibreria/ActualizarResponse" message="tns:IServiceLibreria_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibreria/Agregar" message="tns:IServiceLibreria_Agregar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibreria/AgregarResponse" message="tns:IServiceLibreria_Agregar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibreria/Buscar" message="tns:IServiceLibreria_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibreria/BuscarResponse" message="tns:IServiceLibreria_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibreria/Eliminar" message="tns:IServiceLibreria_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibreria/EliminarResponse" message="tns:IServiceLibreria_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarRepetido">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceLibreria/ValidarRepetido" message="tns:IServiceLibreria_ValidarRepetido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceLibreria/ValidarRepetidoResponse" message="tns:IServiceLibreria_ValidarRepetido_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceLibreria" type="tns:IServiceLibreria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IServiceLibreria/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerC">
      <soap:operation soapAction="http://tempuri.org/IServiceLibreria/ObtenerC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdObtener">
      <soap:operation soapAction="http://tempuri.org/IServiceLibreria/IdObtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/IServiceLibreria/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Agregar">
      <soap:operation soapAction="http://tempuri.org/IServiceLibreria/Agregar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Buscar">
      <soap:operation soapAction="http://tempuri.org/IServiceLibreria/Buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/IServiceLibreria/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarRepetido">
      <soap:operation soapAction="http://tempuri.org/IServiceLibreria/ValidarRepetido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceLibreria">
    <wsdl:port name="BasicHttpBinding_IServiceLibreria" binding="tns:BasicHttpBinding_IServiceLibreria">
      <soap:address location="http://localhost:50467/ServiceLibreria.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>