WCFClienteLibreriaDosCapas/Connected Services/ServiceLibreria/ServiceLibreria2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50467/ServiceLibreria.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntityLibreria" />
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntityLibreria" minOccurs="0" name="ObtenerResult" nillable="true" type="q1:EntRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EntityLibreria" minOccurs="0" name="ObtenerCResult" nillable="true" type="q2:EntRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdObtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EntityLibreria" minOccurs="0" name="IdObtenerResult" nillable="true" type="q3:EntRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EntityLibreria" minOccurs="0" name="l" nillable="true" type="q4:EntLibreria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EntityLibreria" minOccurs="0" name="ActualizarResult" nillable="true" type="q5:EntRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Agregar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EntityLibreria" minOccurs="0" name="l" nillable="true" type="q6:EntLibreria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EntityLibreria" minOccurs="0" name="AgregarResult" nillable="true" type="q7:EntRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EntityLibreria" minOccurs="0" name="BuscarResult" nillable="true" type="q8:EntRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EntityLibreria" minOccurs="0" name="EliminarResult" nillable="true" type="q9:EntRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarRepetido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EntityLibreria" minOccurs="0" name="l" nillable="true" type="q10:EntLibreria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarRepetidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EntityLibreria" minOccurs="0" name="ValidarRepetidoResult" nillable="true" type="q11:EntRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>