WCFClienteLibreriaDosCapas/Connected Services/ServiceLibreria/ServiceLibreria.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EntityLibreria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityLibreria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntLibre" nillable="true" type="tns:EntLibreria" />
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="LibrosLista" nillable="true" type="tns:ArrayOfEntLibreria" />
      <xs:element minOccurs="0" name="ListaCategoria" nillable="true" type="tns:ArrayOfEntCategoria" />
      <xs:element minOccurs="0" name="Msj" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntRespuesta" nillable="true" type="tns:EntRespuesta" />
  <xs:complexType name="EntLibreria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Categoria" type="xs:int" />
      <xs:element minOccurs="0" name="Edicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Editorial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntCategoria" nillable="true" type="tns:EntCategoria" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntLibreria" nillable="true" type="tns:EntLibreria" />
  <xs:complexType name="EntCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdC" type="xs:int" />
      <xs:element minOccurs="0" name="NombreC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntCategoria" nillable="true" type="tns:EntCategoria" />
  <xs:complexType name="ArrayOfEntLibreria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntLibreria" nillable="true" type="tns:EntLibreria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntLibreria" nillable="true" type="tns:ArrayOfEntLibreria" />
  <xs:complexType name="ArrayOfEntCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntCategoria" nillable="true" type="tns:EntCategoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntCategoria" nillable="true" type="tns:ArrayOfEntCategoria" />
</xs:schema>